.portafolio-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    height: 10vh;
    background-color: white;
}

@media only screen and (min-width: 600px) {
 .portafolio-header{
    position: sticky;
    top: 0;
  }
}
@media only screen and (max-width: 600px) {
 .menu{
    display: none;
  }
}


.nav-option{
    display: flex;
    align-items: center;
}

.portafolio-header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.portafolio-header a{
    text-decoration: none;
    font: var(--headline5);
    color: var(--color4);
}