:root{
    --color4: #343f56; 
--color3: #a7d2f5; 
--color2: #fb9300; 
--color1: #f5e6ca; 
--color4lighten: #8291b4; 
--headline1: 700 4.5rem/5rem Lato; 
--headline2: 700 4rem/4.75rem Lato; 
--headline3: 700 2rem/2rem Lato; 
--headline4: 700 1.5rem/1.649999976158142rem Lato; 
--headline5: 700 1.25rem/1.649999976158142rem Lato; 
--button: semi bold 1.125rem/1.6875rem Montserrat; 
--body1: 700 1.125rem/1.6875rem Montserrat; 
--text: 400 1.125rem/1.6875rem Montserrat; 
--body2bold: 700 0.875rem/1.6875rem Montserrat; 
--body2: 400 0.875rem/1.5rem Montserrat; 
--body1: 400 1.125rem/1.6875rem Montserrat; 
}