
.button-primary{
    margin: 8px 0;
    padding: 10px 20px;
    display: block;
    background-color: var(--color4);
    color: white;
    text-decoration: none;
    text-align: center;
    font: var(--button);
}