
.button-primary{
    margin: 8px 0;
    padding: 10px 20px;
    display: block;
    background-color: var(--color4);
    color: white;
    text-decoration: none;
    text-align: center;
    font: var(--button);
    border: 2px solid var(--color4);
    border-radius: 7px;
}

.button-secondary{
    margin: 8px 0;
    padding: 10px 20px;
    display: block;
    color: var(--color4);
    text-decoration: none;
    text-align: center;
    font: var(--button);
    border: 2px solid var(--color4);
    border-radius: 7px;
    gap: 8px;
}

@media only screen and (max-width: 768px) {
  .button-mobile {
    width: 100%;
  }
}